# Dependencies
node_modules

# Build output
dist
dist-ssr

# Rust build
target

# Environment
.env
.env.*
*.local

# Logs
logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
